.venv
node_modules
dist
frontend/node_modules
backend/resumes.db
__pycache__
*.pyc
*.apk
*.idsig
*.zip
frontend/android/app/build
frontend/android/.gradle
frontend/android/.gradle_cache
frontend/android/build
frontend/android/app/release-aligned.apk
frontend/android/keystore.jks
android-sdk/
android-tooling/
.vscode/

test_resume.txt
*.apk
